.navbar{
	font-family: 'Candal', sans-serif;
	
}

#title{
	
	padding-top: 3em;
	text-align: left;
}

#arena{
	padding-bottom: 4em;
	padding-top: 4em;
}

.grid-container {
	display: inline-grid;
	grid-template-columns: 10% 70% 20%;
  }
  .grid-item {
/*	border: 1px solid rgba(0, 0, 0, 0.8);*/
	padding: 20px;
	justify-content: center;
  }